<header>
<title>Home</title>
<link href="style.css" rel="stylesheet" type="text/css"/>
</header>
<body>
    <h1>Home Page</h1>
    <h2>Directory:</h2>
    [ <a href="Products">Products</a> | <a href="Customers">Customers</a> | <a href="RawMaterials">Raw Materials</a> | <a href="recipe">Recipe</a> | <a href="PurchaseOrders">Purchase Orders</a> | <a href="SalesOrders">Sales Orders</a>]
</body>
